In [2]:
import pandas as pd
import numpy as np

In [3]:
from skimpy import clean_columns

In [47]:
import matplotlib.pyplot as plt
import pylab as pl
%matplotlib inline

In [28]:
df = pd.read_csv("LakeData.csv", parse_dates=["Date"], low_memory = False)

In [5]:
df2 = pd.read_csv("Lake physical data.csv", low_memory = False)

In [6]:
df2.rename(columns={'Lake': 'lake_name'}, inplace=True)

In [7]:
clean_df2 = clean_columns(df2)

4 column names have been cleaned

In [8]:
clean_df2.rename(columns={'lake': 'lake_name'}, inplace=True)

In [31]:
clean_df = clean_columns(df)

52 column names have been cleaned

In [32]:
from datetime import datetime
clean_df['date'] = pd.to_datetime(clean_df['date'], format='%m/%d/%Y')
clean_df

,lake_name,site_type,id_#,date,time,pw,w,total_depth_m,secchi_depth,depth_m,...,ss,f,notes,quanta_#,weather_meter_#,fluorometer_#,aquafluor_#,van_dorn_#,unnamed_50,unnamed_51
0,Beaver Dam,Open,21221BEA2,2021-08-09,15:40,S,S,18.5,2.5,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Beaver Dam,Open,18190BEA2,2018-07-09,15:00,S,S,18.0,3.0,0.0,...,NaN,NaN,AQUATIC WEED CONTROL SPRAYED IN THE MORNING (7...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Beaver Dam,Open,18204BEA2,2018-07-23,15:15,R,R,19.0,5.8,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Beaver Dam,Open,18211BEA2,2018-07-31,15:00,O,O,18.6,4.4,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Beaver Dam,Open,18218BEA2,2018-08-06,14:45,S,O,18.8,4.4,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24215,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24216,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24217,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24218,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24219,Beaver Dam,Open,16253BEA2,2016-09-09,13:37,R,O,18.4,4.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
cdf = clean_df[['date','mc_ppb', 'do_mg_l', 'water_temp_cel_s']]
cdf = cdf.dropna()
cdf.head()

        date  mc_ppb  do_mg_l  water_temp_cel_s
1 2018-07-09   0.075     8.75             28.83
2 2018-07-23   0.075     7.27             25.21
3 2018-07-31   0.075     8.55             25.10
4 2018-08-06   0.075     9.30             28.77
5 2020-06-01   0.075    13.83             22.40

In [34]:
cdf.index = pd.to_datetime(cdf['date'])

In [13]:
cdf = cdf.drop(['date'], axis=1)

In [14]:
cdf

            mc_ppb  do_mg_l  water_temp_cel_s
date
2018-07-09   0.075     8.75             28.83
2018-07-23   0.075     7.27             25.21
2018-07-31   0.075     8.55             25.10
2018-08-06   0.075     9.30             28.77
2020-06-01   0.075    13.83             22.40
...            ...      ...               ...
2010-08-17   0.075     7.36             27.00
2010-09-22   0.075     9.40             21.30
2012-09-10   0.075     7.61             24.40
2016-07-20   0.075     9.44             27.58
2012-09-13   0.607     7.56             23.60

[1269 rows x 3 columns]

In [15]:
from tslearn.clustering import TimeSeriesKMeans
model = TimeSeriesKMeans(n_clusters=3, metric="dtw", max_iter=10)
model.fit(cdf)
#model.predict(cdf)

TimeSeriesKMeans(max_iter=10, metric='dtw')

In [54]:
piv = clean_df[['lake_name', 'date', 'mc_ppb']].dropna()
piv

         lake_name       date  mc_ppb
1       Beaver Dam 2018-07-09   0.075
2       Beaver Dam 2018-07-23   0.075
3       Beaver Dam 2018-07-31   0.075
4       Beaver Dam 2018-08-06   0.075
5       Beaver Dam 2020-06-01   0.075
...            ...        ...     ...
2618        Winona 2010-08-17   0.075
2619        Winona 2010-09-22   0.075
2620        Winona 2012-09-10   0.075
2621        Winona 2016-07-20   0.075
2622  Yellow Creek 2012-09-13   0.607

[1272 rows x 3 columns]

In [38]:
piv_2 = piv.pivot(index="date", columns="lake_name", values="mc_ppb")

ValueError: Index contains duplicate entries, cannot reshape

In [39]:
piv.groupby(
    [piv["date"].dt.year, "lake_name"])["mc_ppb"].mean()

date  lake_name
2010  Beaver Dam      0.075000
      Big Barbee      0.075000
      Big Chapman     0.725000
      Dewart          0.900000
      James           0.127500
                        ...
2021  Tippecanoe      0.097909
      Wawasee         0.488846
      Webster         0.180909
      Winona          0.075000
      Yellow Creek    0.093545
Name: mc_ppb, Length: 144, dtype: float64

In [40]:
piv_2 = piv.groupby(
    [piv["date"].dt.year, "lake_name"])["mc_ppb"].mean()

In [44]:
piv_2

date  lake_name
2010  Beaver Dam      0.075000
      Big Barbee      0.075000
      Big Chapman     0.725000
      Dewart          0.900000
      James           0.127500
                        ...
2021  Tippecanoe      0.097909
      Wawasee         0.488846
      Webster         0.180909
      Winona          0.075000
      Yellow Creek    0.093545
Name: mc_ppb, Length: 144, dtype: float64

In [58]:
#piv["lake_date"] = piv["lake_name"] + piv["mc_ppb"]

In [59]:
clean_df['year'] = pd.DatetimeIndex(clean_df['date']).year
clean_df.head()

,lake_name,site_type,id_#,date,time,pw,w,total_depth_m,secchi_depth,depth_m,...,f,notes,quanta_#,weather_meter_#,fluorometer_#,aquafluor_#,van_dorn_#,unnamed_50,unnamed_51,year
0,Beaver Dam,Open,21221BEA2,2021-08-09,15:40,S,S,18.5,2.5,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.0
1,Beaver Dam,Open,18190BEA2,2018-07-09,15:00,S,S,18.0,3.0,0.0,...,NaN,AQUATIC WEED CONTROL SPRAYED IN THE MORNING (7...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.0
2,Beaver Dam,Open,18204BEA2,2018-07-23,15:15,R,R,19.0,5.8,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.0
3,Beaver Dam,Open,18211BEA2,2018-07-31,15:00,O,O,18.6,4.4,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.0
4,Beaver Dam,Open,18218BEA2,2018-08-06,14:45,S,O,18.8,4.4,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.0

In [68]:
clean_df['year'] = clean_df['year'].astype(str)

In [69]:
clean_df['lake_year'] = clean_df['lake_name'] + " " + clean_df['year']

In [66]:
clean_df

,lake_name,site_type,id_#,date,time,pw,w,total_depth_m,secchi_depth,depth_m,...,notes,quanta_#,weather_meter_#,fluorometer_#,aquafluor_#,van_dorn_#,unnamed_50,unnamed_51,year,lake_year
0,Beaver Dam,Open,21221BEA2,2021-08-09,15:40,S,S,18.5,2.5,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.0,Beaver Dam 2021.0
1,Beaver Dam,Open,18190BEA2,2018-07-09,15:00,S,S,18.0,3.0,0.0,...,AQUATIC WEED CONTROL SPRAYED IN THE MORNING (7...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,Beaver Dam 2018.0
2,Beaver Dam,Open,18204BEA2,2018-07-23,15:15,R,R,19.0,5.8,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,Beaver Dam 2018.0
3,Beaver Dam,Open,18211BEA2,2018-07-31,15:00,O,O,18.6,4.4,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,Beaver Dam 2018.0
4,Beaver Dam,Open,18218BEA2,2018-08-06,14:45,S,O,18.8,4.4,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,Beaver Dam 2018.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24215,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN
24216,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN
24217,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN
24218,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN
24219,Beaver Dam,Open,16253BEA2,2016-09-09,13:37,R,O,18.4,4.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,Beaver Dam 2016.0

In [83]:
pivot = clean_df[['date','lake_year','mc_ppb']].dropna()
pivot

           date            lake_year  mc_ppb
1    2018-07-09    Beaver Dam 2018.0   0.075
2    2018-07-23    Beaver Dam 2018.0   0.075
3    2018-07-31    Beaver Dam 2018.0   0.075
4    2018-08-06    Beaver Dam 2018.0   0.075
5    2020-06-01    Beaver Dam 2020.0   0.075
...         ...                  ...     ...
2618 2010-08-17        Winona 2010.0   0.075
2619 2010-09-22        Winona 2010.0   0.075
2620 2012-09-10        Winona 2012.0   0.075
2621 2016-07-20        Winona 2016.0   0.075
2622 2012-09-13  Yellow Creek 2012.0   0.607

[1272 rows x 3 columns]

In [79]:
pivot.pivot_table(index='date', columns=['lake_year'], values = 'mc_ppb')

lake_year,Beaver Dam 2010.0,Beaver Dam 2011.0,Beaver Dam 2012.0,Beaver Dam 2013.0,Beaver Dam 2015.0,Beaver Dam 2016.0,Beaver Dam 2017.0,Beaver Dam 2018.0,Beaver Dam 2019.0,Beaver Dam 2020.0,...,Winona 2021.0,Yellow Creek 2012.0,Yellow Creek 2013.0,Yellow Creek 2015.0,Yellow Creek 2016.0,Yellow Creek 2017.0,Yellow Creek 2018.0,Yellow Creek 2019.0,Yellow Creek 2020.0,Yellow Creek 2021.0
date,,,,,,,,,,,,,,,,,,,,,
2010-08-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-08-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-08-18,0.075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-08-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-09-20,0.075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-08-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-08-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-08-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.158
2021-08-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-08-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
#pivot = pivot.set_index('date').groupby('lake_year').resample('Y').mean().transform(pd.Series.interpolate).reset_index()

In [89]:
pivot = pivot.set_index('date').groupby('lake_year').resample('Y')['mc_ppb'].bfill().reset_index()
pivot.head()

           lake_year       date    mc_ppb
0  Beaver Dam 2010.0 2010-12-31  0.075000
1  Beaver Dam 2011.0 2011-12-31  0.199000
2  Beaver Dam 2012.0 2012-12-31  0.214875
3  Beaver Dam 2013.0 2013-12-31  0.663444
4  Beaver Dam 2015.0 2015-12-31  2.949000

In [88]:
pivot = pivot[['date', 'lake_year', 'mc_ppb']]
pivot

          date            lake_year    mc_ppb
0   2010-12-31    Beaver Dam 2010.0  0.075000
1   2011-12-31    Beaver Dam 2011.0  0.199000
2   2012-12-31    Beaver Dam 2012.0  0.214875
3   2013-12-31    Beaver Dam 2013.0  0.663444
4   2015-12-31    Beaver Dam 2015.0  2.949000
..         ...                  ...       ...
139 2017-12-31  Yellow Creek 2017.0  0.075000
140 2018-12-31  Yellow Creek 2018.0  0.134111
141 2019-12-31  Yellow Creek 2019.0  0.137667
142 2020-12-31  Yellow Creek 2020.0  0.075000
143 2021-12-31  Yellow Creek 2021.0  0.093545

[144 rows x 3 columns]

In [91]:
pivot.pivot(index = 'date', columns = ['lake_year'], values = 'mc_ppb')

lake_year,Beaver Dam 2010.0,Beaver Dam 2011.0,Beaver Dam 2012.0,Beaver Dam 2013.0,Beaver Dam 2015.0,Beaver Dam 2016.0,Beaver Dam 2017.0,Beaver Dam 2018.0,Beaver Dam 2019.0,Beaver Dam 2020.0,...,Winona 2021.0,Yellow Creek 2012.0,Yellow Creek 2013.0,Yellow Creek 2015.0,Yellow Creek 2016.0,Yellow Creek 2017.0,Yellow Creek 2018.0,Yellow Creek 2019.0,Yellow Creek 2020.0,Yellow Creek 2021.0
date,,,,,,,,,,,,,,,,,,,,,
2010-12-31,0.075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-12-31,NaN,0.199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-12-31,NaN,NaN,0.214875,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.240111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-12-31,NaN,NaN,NaN,0.663444,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.285111,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-12-31,NaN,NaN,NaN,NaN,2.949,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.76575,NaN,NaN,NaN,NaN,NaN,NaN
2016-12-31,NaN,NaN,NaN,NaN,NaN,0.202846,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.133462,NaN,NaN,NaN,NaN,NaN
2017-12-31,NaN,NaN,NaN,NaN,NaN,NaN,0.075,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.075,NaN,NaN,NaN,NaN
2018-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.159111,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.134111,NaN,NaN,NaN
2019-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.520222,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.137667,NaN,NaN
2020-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.374818,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.075,NaN
2021-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.093545

In [73]:
pivot_table = pivot.groupby(
    [piv["date"].dt.year, "lake_year"])["mc_ppb"].mean()

In [74]:
pivot_table

date  lake_year
2010  Beaver Dam 2010.0      0.075000
      Big Barbee 2010.0      0.075000
      Big Chapman 2010.0     0.725000
      Dewart 2010.0          0.900000
      James 2010.0           0.127500
                               ...
2021  Tippecanoe 2021.0      0.097909
      Wawasee 2021.0         0.488846
      Webster 2021.0         0.180909
      Winona 2021.0          0.075000
      Yellow Creek 2021.0    0.093545
Name: mc_ppb, Length: 144, dtype: float64